<a href="/<?php echo $this->params['lang']; ?>"><?php echo $this->Html->image('logo_white.png', array('title' => 'Logo Ovid Teodoriu', 'width' => '343', 'height' => '125', 'class' => 'bicLogo')); ?></a>
<div class="bicFooterText">
	<p><strong>Ovid Teodoriu</strong> <?php echo __('cameraman &amp; photographer'); ?></p>
	<p><strong><?php echo __('Phone:') ?></strong> 0723 768 588</p>
	<p><strong>Email:</strong> ovid_teodoriu@yahoo.com</p>
	<p>&#169; 2012 Ovid Teodoriu. <?php echo __('All rights reserved'); ?></p>
</div>
