@font-face {
    font-family:'Serpentine';src:url('Serpentine_LT_Bold.eot');src:url('Serpentine_LT_Bold.eot?#iefix') format('embedded-opentype'),
         url('Serpentine_LT_Bold.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face {
    font-family:'Serpentine_Light';src:url('Serpentine_LT_Light.eot');src:url('Serpentine_LT_Light.eot?#iefix') format('embedded-opentype'),
         url('Serpentine_LT_Light.ttf') format('truetype');font-weight:normal;font-style:normal;}

body{background-color:#ffffff;}
a, a:hover{text-decoration:none;color:#000000;font-weight:normal;}
.pageName{background-position:0 -300px;width:100%;padding:10px 0 20px 0!important;background-size:cover;}
#pageBotez{background-image:url('imgs/backgrounds/backgrounds_botez_01.jpg');}
#pageNunta{background-image:url('imgs/backgrounds/backgrounds_nunta_01.jpg');}
#pageContact, #pageAbout, #pageStudioList{background-image:url('imgs/backgrounds/backgrounds_studio_list_01.jpg');}
#pageStudioDiana1{background-image:url('imgs/backgrounds/backgrounds_studio_diana1_01.jpg');background-position:0 -711px;}
#pageStudioDiana2{background-image:url('imgs/backgrounds/backgrounds_studio_diana2_01.jpg');background-position:0 -615px;}
#pageStudioMiha{background-image:url('imgs/backgrounds/backgrounds_studio_miha_01.jpg');}
#pageStudioDeea{background-image:url('imgs/backgrounds/backgrounds_studio_deea_01.jpg');}
#pageStudioDeeaBW{background-image:url('imgs/backgrounds/backgrounds_studio_deea_bw_01.jpg');}
#pageStudioAnda{background-image:url('imgs/backgrounds/backgrounds_studio_anda_01.jpg');}
#pageTehnic{background-image:url('imgs/backgrounds/backgrounds_tehnic_02.jpg');}
#pageNatura{background-image:url('imgs/backgrounds/backgrounds_natura_01.jpg');}

#bicMeniuNav li.active{border-bottom:4px solid white}
/* #pageContact .bicAboutText{background-color:transparent;} */

/* #containerCorrector{position:absolute;left:50%;} */
#header{padding:0;}
.infoPage .sticky{width:100%;padding:10px 0 20px!important;background-position:0 -300px;}
.infoPage #content{background-image:url('imgs/white_transparent_pixel.png');background-repeat:repeat;background-color:transparent;position:relative;padding:20px 0;}
#container{position:absolute;width:100%;min-width:300px;}
#content{padding:0px;padding-top:20px;font-family:'Serpentine_Light';color:#FFCE00;}
.infoPage #content{width:90%;margin:20px auto;max-width:1000px;min-height:500px;}
#content a{font-style:italic;}
#footer_2{background-color:#333333;padding:20px 0;}
.bicLogo{display:block;margin:0 auto;padding-top:10px;}
.bicPhoneWrapper{width:371px;height:38px;position:fixed;right:10%;top:0;background:url('imgs/phone_background.png') no-repeat;z-index:100;}
.bicPhone{font-size:20px;font-family:'Serpentine';color:#020830;float:right;margin:2px 15px;}
.bicMeniu{font-family:'Serpentine_Light';font-style:italic;font-size:16px;margin:20px 0 0 0;color:#000000;}
.bicMeniu ul{list-style-type:none;margin:0 auto;display:table;}
.bicMeniu ul li{float:left;margin:0 20px;}
.bicMeniu a{color:#ffffff;}
.bicLeftColumn{float:left;}
.bicRightColumn, .video_container{float:left;}
.bicMakingColumn{width:80%;margin-left:auto;margin-right:auto;padding-top:30px;margin-bottom:30px;}
.bicMakingColumn .bicTitleBox span{cursor:pointer;}
.bicMakingColumn .bicBox{width:100%;}
/* .bicBox{width:602px;} */
.bicTitleBox, .bicMakingColumn .bicTitleBox{height:30px;background-color:#FFFFFF;padding-top:8px;}
.bicMakingColumn .bicTitleBox{width:100%;cursor:pointer;background-repeat:no-repeat;background-color:transparent;}
#toggleVideo {background-image:url('imgs/making_background/making_background_01.png');}
#togglePhoto {background-image:url('imgs/making_background/making_background_02.png');}
#toggleScreen {background-image:url('imgs/making_background/making_background_03.png');}
#togglePost {background-image:url('imgs/making_background/making_background_04.png');}
#toggleDvd {background-image:url('imgs/making_background/making_background_05.png ');}
#toggleArchive {background-image:url('imgs/making_background/making_background_06.png');}

#bicTopTitle{background-image:url('imgs/black_transparent_pixel.png');background-repeat:repeat;background-color:transparent;}
#bicTopTitle .bicTitleText{float:left;margin-right:0px;margin-left:20px;}
.bicTitleText{color:#fff;font-family:'Serpentine';font-size:19px;float:right;margin-right:20px;}
#bicContactBox{margin-bottom:50px;}

.bicAboutText{padding:15px;color:black;font-family:'Arial';background-color:white;}
#pageTehnic .bicAboutText{display:table;}
#bicPhoto{margin-left:auto;margin-right:auto;border:1px solid #FFFFFF;overflow:hidden;zoom:1;position:relative;}
.bicSummaryWrapper{width:202px;height:230px;margin-left:auto;margin-right:auto;}#bicSummary{background:url('imgs/summary_background.png') no-repeat;width:202px;height:235px;}
.bicPicWrapper{height:465px;width:820px;margin-left:auto;margin-right:auto;}
.reflect{float:left;}
.reflect:hover{cursor:pointer;}
.bicPic .reflect{margin:0px 30px;}
.bicPicMo .reflect{margin:0px 14px;}
.bicRightColumn{max-width:570px;float:left;margin-left:20px;}
.bicCanvasWrapper{width:600px;height:400px;margin-left:auto;margin-right:auto;margin-bottom:80px;}
#bicHandlersWrapper{height:400px;width:175px;float:right;overflow:hidden;}
.bicContactWrapper{width:90%;margin-right:auto;margin-left:auto;}
.bicContactRow{height:35px;margin-bottom:15px;display:table-row;}
.input{height:35px;float:left;}
.textarea{height:200px;float:left;}
form div{margin-bottom:2px;padding-bottom:2px;clear:none;}
form .submit input{float:right;font-family:'Serpentine';}
form label{font-size:16px;width:20%;display:table-cell;font-family:'Serpentine';vertical-align:middle;}
form .input{width:75%;display:table-cell;float:none;}
.bicAboutText form {margin-left:auto;margin-right:auto;margin-top:15px;display:table;}

textarea, input{margin-top:-2px;border-radius:10px;border:1px solid #a1a1a1;padding:5px 10px;}
.error textarea, .error input{border-color:red;}
form .error-message{width:100%;float:left;}
textarea{height:180px;margin-top:2px;}
textarea:focus, input:focus{outline:none;}
#scrollbar{height:400px;width:20px;margin-right:40px;float:right;}
#handle{height:42px;width:20px;background-color:black;}
.bicLanguages{background:url('imgs/flags_background.png') no-repeat;width:43px;height:90px;right:2%;position:fixed;top:0;z-index:100;padding-top:8px;padding-left:13px;}
.bicLanguages img{margin-top:2px;margin-bottom:2px;}
.bicFooterText{margin-left:30px;margin-top:20px;}
.bicFooterText p{text-align:center;margin-bottom:2px;font-size:11px;color:#ffffff;}
#bicContactBox p{font-size:16px;margin:0;line-height:24px;}
.bicWrapContactText{margin-left:35px;margin-bottom:40px;}
/* .bicWrapContactText strong{font-family:'Serpentine';} */
.bicStudioWrapper{position:relative;margin:0;}
#bicSlideshow, #bicSlideshowFrame, #bicSlideshowWrapper{width:800px;height:300px;}
#bicStudioList{margin:10px 0 40px 0;position:relative;}
.bicStudioWrapper{display:block;}

.bicStudioItem{width:inherit;height:inherit;background-size:cover;}
#bicSlideshowFrame, .bicStudioFrame{background:url('imgs/slideshow_frame.png') no-repeat;position:absolute;top:0;}
.bicStudioFrame{background-position:0 -70px;}
.bicStudioDiana{background-image:url('imgs/studio_list/metro_tiles/studio_list_diana.jpg');}
.bicStudioDiana2{background-image:url('imgs/studio_list/metro_tiles/studio_list_diana2.jpg');}
.bicStudioDeea{background-image:url('imgs/studio_list/metro_tiles/studio_list_deea.jpg');}
.bicStudioAnda{background-image:url('imgs/studio_list/metro_tiles/studio_list_anda.jpg');}
.bicStudioMiha{background-image:url('imgs/studio_list/metro_tiles/studio_list_miha.jpg');}
.bicVideoButton, .bicMorphButton{width:400px;height:42px;display:block;margin-bottom:50px;margin-left:auto;margin-right:auto;}
.bicMorphButton {width:197px;}
.video_container{margin-bottom:80px;}
.video_container a{border:1px solid #FFCE00;}

.bicSerpentine{font-family:'Serpentine';color:#FFCE00;}
.bicFacebook{background:url('imgs/facebook_background.png') no-repeat;width:69px;height:74px;position:fixed;left:2%;top:0px;}
.bicFacebook img{margin-left:14px;margin-top:5px;}
.bicMakingPhoto {background:url('imgs/my_film.png') no-repeat;display:block;width:118px;height:106px;padding:4px 21px;cursor:pointer;float:left;margin-bottom:20px;margin-left:10px;}

.bicMakingPhoto img{display:block;width:100%;height:100%;border:none;}
.bicMakingText{float:right;width:70%;margin-bottom:20px;}
#bicLoader {background:url('/img/preloader3.gif');width:100px;height:100px;margin:100px auto;}
/* GALLERY */
#bicGalleryWrapper {display:inline-block;margin-bottom:15px;}
/* END GALLERY */

.bicImageWrapper {float:left;margin:1px;overflow:hidden;width:500px;}
.bicImageWrapper img{width:100%;}
.bicSubMeniu{margin:0 0 0 -77px;position:absolute;}
.bicSubMeniu li{margin:15px 15px 0;}
#bicMeniuNav .open{display:block;}
#bicMeniuNav .close{display:none;}#bicMorph {color:#020830;display:block;font-family:'Serpentine_Light';font-size:20px;font-style:italic;font-weight:bolder;margin:7px 0 0 2px;position:absolute;}
.sticky{position:fixed;top:-150px;z-index:2;}
#columnsWrapper{width:80%;margin:0 auto;}
#bicHome{text-align:center;}
.bicNunta1{background-image:url('imgs/home_page/metro_tiles/nunta_1.jpg');background-position:50% 40%;}
.bicNunta2{background-image:url('imgs/home_page/metro_tiles/nunta_2.jpg');}
.bicNunta3{background-image:url('imgs/home_page/metro_tiles/nunta_3.jpg');}

.bicBotez1{background-image:url('imgs/home_page/metro_tiles/botez_1.jpg');}
.bicBotez2{background-image:url('imgs/home_page/metro_tiles/botez_2.jpg');}
.bicBotez3{background-image:url('imgs/home_page/metro_tiles/botez_3.jpg');background-position:42%;}

.bicNature1{background-image:url('imgs/home_page/metro_tiles/nature_1.jpg');}
.bicNature2{background-image:url('imgs/home_page/metro_tiles/nature_2.jpg');}
.bicNature3{background-image:url('imgs/home_page/metro_tiles/nature_3.jpg');}
.bicNature4{background-image:url('imgs/home_page/metro_tiles/nature_4.jpg');}

#bicHome .bicStudioMiha{background-position:50% 42%;}

.bicVideo{height:400px;width:100%;overflow:hidden;margin-bottom:15px;position:relative;}
.bicVideo img{position:absolute;left:48%;-webkit-transform:translateX(-48%);-moz-transform:translateX(-48%);-o-transform:translateX(-48%);-ms-transform:translateX(-48%);}
.bicPlayOverlay{background-image:url('imgs/play_overlay.png');width:177px;height:177px;position:absolute;left:50%;top:50%;margin-left:-88px;margin-top:-88px;}

#bicBurgerMenu{display:none;font-size:50px;cursor:pointer;}
#bicBurgerMenu:before{content:'\2261';}
.bicActivePage{border-bottom:2px solid white;}

@media (max-width:1120px){
	.bicMakingPhoto{
		margin-left:0;
	}
	#columnsWrapper{
		width:95%;
	}
	.bicRightColumn{
		max-width:72%;
		margin-left:12px;
	}
}

@media (max-width:920px){
	.bicMakingText{
		width:65%;
	}
	.bicRightColumn{
		max-width:64%;
		margin-left:12px;
	}
	#pageContact .bicLeftColumn{
		float:none;
		margin-bottom:10px;
	}
	#pageContact .bicRightColumn{
		max-width:100%;
		margin-left:0;
		width:100%;
	}
}

@media (max-width:720px){
	.bicMakingText{
		width:56%;
	}
	.bicLeftColumn{
		float:none;
		margin-bottom:10px;
	}
	.bicRightColumn{
		max-width:100%;
		margin-left:0;
	}
	.bicMeniu ul li{margin:0 10px;}
}

@media (max-width:570px){
}
