/* Desktop Layout (default) */
.metroCell-2-2 {
  width: 756px;
  height: 506px;
}
.metroCell-1-1 {
  width: 376px;
  height: 251px;
}
.metroCell-1-2 {
  width: 376px;
  height: 506px;
}
.metroCell-2-1 {
  width: 756px;
  height: 251px;
}
.bicMetroBox {
  width: 770px;
  height: 520px;
  display: inline-block;
}
#bicStudioList {
  height: 506px;
}
.bicMetroColumn {
  width: 376px;
  float: left;
}
.bicMetroColumn_left {
  margin-right: 2px;
}
.bicMetroColumn_right {
  margin-left: 2px;
}
.bicMetroCell {
  display: inline-block;
  vertical-align: top;
  float: left;
  margin: 2px;
  background-color: #f00;
  box-shadow: 0px 0px 4px #000;
}
@media only screen and (min-width: 1151px) and (max-width: 1530px) {
  #deeaWrapper {
    position: absolute;
    top: 510px;
    left: 0;
  }
  #mihaWrapper {
    position: absolute;
    top: 510px;
    left: 760px;
  }
  #bicStudioList {
    height: 765px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 775px) {
  .metroCell-2-2 {
    width: 514px;
    height: 354px;
  }
  .metroCell-1-1 {
    width: 255px;
    height: 175px;
  }
  .metroCell-1-2 {
    width: 255px;
    height: 354px;
  }
  .metroCell-2-1 {
    width: 514px;
    height: 175px;
  }
  .bicMetroBox {
    width: 528px;
    height: 368px;
    display: inline-block;
  }
  #bicStudioList {
    height: 354px;
  }
  .bicMetroColumn {
    width: 255px;
    float: left;
  }
  .bicMetroColumn_left {
    margin-right: 2px;
  }
  .bicMetroColumn_right {
    margin-left: 2px;
  }
}
@media only screen and (max-width: 500px) {
  .metroCell-2-2 {
    width: 304px;
    height: 204px;
  }
  .metroCell-1-1 {
    width: 150px;
    height: 100px;
  }
  .metroCell-1-2 {
    width: 150px;
    height: 204px;
  }
  .metroCell-2-1 {
    width: 304px;
    height: 100px;
  }
  .bicMetroBox {
    width: 318px;
    height: 218px;
    display: inline-block;
  }
  #bicStudioList {
    height: 204px;
  }
  .bicMetroColumn {
    width: 150px;
    float: left;
  }
  .bicMetroColumn_left {
    margin-right: 2px;
  }
  .bicMetroColumn_right {
    margin-left: 2px;
  }
}
