cell-width-desktop = 376px;
cell-height-desktop = 251px;

cell-width-medium = 255px;
cell-height-medium = 175px;

cell-width-mobile = 150px;
cell-height-mobile = 100px;

bix-margin = 2px;
spacing = 2 * bix-margin;

media-query-desktop-two-bigs = 'only screen and (min-width: 1151px) and (max-width: 1530px)'
media-query-medium = 'only screen and (min-width: 500px) and (max-width: 775px)'
media-query-mobile = 'only screen and (max-width: 500px)'

define-cell-types(cell-width, cell-height)
    .metroCell-2-2
        width: 2 * cell-width + spacing;
        height: 2 * cell-height + spacing;

    .metroCell-1-1
        width: cell-width;
        height: cell-height;

    .metroCell-1-2
        width: cell-width;
        height: 2 * cell-height + spacing;

    .metroCell-2-1
        width: 2 * cell-width + spacing;
        height: cell-height;

    .bicMetroBox
        width: 2 * (cell-width + spacing) + 10;
        height: 2 * (cell-height + spacing) + 10;
        display: inline-block;

    #bicStudioList
        height: 2 * cell-height + spacing;

    .bicMetroColumn
        width: cell-width;
        float: left;

    .bicMetroColumn_left
        margin-right: bix-margin;

    .bicMetroColumn_right
        margin-left: bix-margin;

/* Desktop Layout (default) */
define-cell-types(cell-width-desktop, cell-height-desktop)

.bicMetroCell
	display: inline-block;
    vertical-align: top;
    float: left;
    margin: bix-margin;
    background-color: red;
    box-shadow: 0px 0px 4px black;

@media media-query-desktop-two-bigs
    #deeaWrapper
        position: absolute;
        top: 2 * (cell-height-desktop + spacing);
        left: 0;
    #mihaWrapper
        position: absolute;
        top: 2 * (cell-height-desktop + spacing);
        left: 2 * (cell-width-desktop + spacing);
    #bicStudioList
        height: 3 * (cell-height-desktop + spacing);

@media media-query-medium
    define-cell-types(cell-width-medium, cell-height-medium)

@media media-query-mobile
    define-cell-types(cell-width-mobile, cell-height-mobile)
