media-query-desktop-two-bigs = 'only screen and (min-width: 1151px) and (max-width: 1530px)'

media-query-mobile = 'only screen and (max-width: 775px)'

@media media-query-mobile
	.pageName{
		height: 35px;
		padding: 5px 0 20px 0;
		background-size: cover;
		background-position: 0!important;
	}
	.bicLogo{
		width: 300px;
		height: 109px;
	}
	.pageName .bicLogo {
		width: 123px;
		height: 45px;
		margin: 0px 25px;
		padding: 0;
		float: left;
	}
	.bicLanguages, .bicFacebook {
		display:none;
	}
	.bicMeniu {
		width: 200px;
		position: absolute;
		z-index: 9999;
		background-color: #333333;
		right: 27px;
		top: 18px;
		margin: 0;
		display: none;
	}
	.bicMeniu ul li {
		margin: 0;
		width: 100%;
		font-size: 20px;
		border-bottom: 1px solid #444444;
	}
	.bicMeniu a {
		width: 100%;
		display: block;
		padding: 10px;
		box-sizing: border-box;
	}
	#bicBurgerMenu {
		display: inline-block;
		float: right;
		margin: 0 20px;
		line-height: 38px;
	}
	.bicActivePage{
		border: none;
	}
	.sticky{
		top: 0;
	}