
#box6{
	position:absolute;
	width:600px;
}
#box6 span{
	display:block;
}
#handles6_1{
	float:left;
	margin: 5px 5px;
}
.mask6{
	position:absolute;
	left:50%;
	margin-left:-165px;
	width:600px;
	height:400px;
	overflow:hidden;
	border: 1px solid #FFCE00;
}
.sample6 .buttons{
	clear:both;
	text-align:center;
}

/* ********************************** */

.thumbs{
	width:120px;
}
.thumbs div {
	background: url('imgs/my_film.png') no-repeat;
	display:block;
	width:117px;
	height:100px;
	padding: 7px 21px;
	cursor:pointer;
}

.thumbs div img{
	display:block;
	width:100%;
	height:100%;
	border:none
}

.info{
	width:240px;
	height:50px;
	background:#000;
	position:absolute;
}
.info p, .info h4{
	color:#fff;
	padding:3px 8px;
	font-family:Arial;
}
.info h4{
	font-size:14px;
}
.info h4 a{
	float:right;
	background:#fff;
	color:#000;
	font-size:10px;
	padding:0 3px;
	text-decoration:none
}

.mask1{
	position:relative;
	width:480px;
	height:180px;
	overflow:hidden;
}
.mask2{
	position:relative;
	width:240px;
	height:180px;
	overflow:hidden;
}
.mask3{
	position:relative;
	width:480px;
	height:240px;
	overflow:hidden;
}

span img{
	display:block;
	border:none;
}