@media only screen and (min-width: 480px) and (max-width: 775px) {
  #header .bicLogo {
    width: 200px;
    height: 73px;
    margin: 10px 25px;
    padding: 0;
    float: left;
  }
  .bicLanguages,
  .bicFacebook {
    display: none;
  }
  .bicMeniu {
    width: 200px;
    position: absolute;
    z-index: 9999;
    background-color: #333;
    right: 27px;
    top: 18px;
    margin: 0;
    display: none;
  }
  .bicMeniu ul li {
    margin: 0;
    width: 100%;
    font-size: 20px;
  }
  .bicMeniu a {
    width: 100%;
    display: block;
    padding: 10px;
    box-sizing: border-box;
  }
  #bicBurgerMenu {
    display: inline-block;
    float: right;
    margin: 0 20px;
  }
  .bicActivePage {
    border: none;
  }
}
