<div id="bicGalleryWrapper">
	<?php for($i=0; $i < 100; $i++) { ?>
		<?php if (file_exists(WWW_ROOT.'img/nature/thumbs/nature_'.sprintf('%03d', $i).'.jpg')) {?>
			<a class="bicImageWrapper" href='<?php echo '/img/nature/nature_'.sprintf('%03d', $i).'.jpg'; ?>' rel='lightbox-nature'><?php echo $this->Html->image('nature/thumbs/nature_'.sprintf('%03d', $i).'.jpg', array('alt' => 'Foto Nature')); ?></a>
		<?php } ?>
	<?php } ?>			
</div>
<span style="display:block; margin-bottom:40px;"></span>
