<div id="bicGalleryWrapper">
	<?php for($i=0; $i < 100; $i++) { ?>
		<?php if (file_exists(WWW_ROOT.'img/studio/studio_deea/thumbs/studio_deea_'.sprintf('%02d', $i).'.jpg')) {?>
			<a class="bicImageWrapper" href='<?php echo '/img/studio/studio_deea/studio_deea_'.sprintf('%02d', $i).'.jpg'; ?>' rel='lightbox-studio_deea' title=''><?php echo $this->Html->image('studio/studio_deea/thumbs/studio_deea_'.sprintf('%02d', $i).'.jpg', array('alt' => 'Foto Studio Outdoors')); ?></a>
		<?php } ?>
	<?php } ?>			
</div>
<!--<div class="bicMorphButton"><?php echo $this->Html->image('morph.png', array('alt' => 'Morph', 'url' => array('controller' => 'pages', 'action' => 'studio_deea_bw', 'lang' => $this->params['lang']))); ?></div>-->
