<div id="bicGalleryWrapper">
	<?php for($i=0; $i < 2000; $i++) { ?>
		<?php if (file_exists(WWW_ROOT.'img/studio/studio_diana2/thumbs/IMG_'.sprintf('%02d', $i).'.jpg')) {?>
			<a class="bicImageWrapper" href='<?php echo '/img/studio/studio_diana2/IMG_'.sprintf('%02d', $i).'.jpg'; ?>' rel='lightbox-studio-diana'><?php echo $this->Html->image('studio/studio_diana2/thumbs/IMG_'.sprintf('%02d', $i).'.jpg', array('alt' => 'Foto Studio')); ?></a>
		<?php } ?>
	<?php } ?>			
</div>
<span style="display:block; margin-bottom:40px;"></span>
